<app-card *ngFor="let card of cards" [inCard]="card" (delete)="deleteCard($event)" (copy)="copyCard($event)"></app-card>

<app-card-maker (create)="createCard($event)" [copied]="template"></app-card-maker>